<!DOCTYPE html>
 <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/WhatsApp-Image-2024-04-01-at-19.00.21_ac7de810.ico">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <title>Rasa Jadoel</title>
</head>
<body>
    <div id="section_top" class="home">
        <header>
        <a href="/login"><img src="/images/WhatsApp Image 2024-04-01 at 19.00.21_ac7de810.jpg" class="logo" id="logo"></a>
        <ui id="navbar">
            <li><a href=".home">Home</a></li>
            <li><a href=".product">Product</a></li>
            <li><a href=".about">About Us</a></li>
            <li><a href=".contact">Contact Us</a></li> 
        </ui>
    </header>
    <div id="section_top_middle">
        <div class="text">
            <h3>Masakan Ala Ibu Di rumah</h3>
            
        </div>
        <div class="image">
     <img src="/images/104282356_3188680147860832_7682586695568529317_n.jpg" id="banner">
             </div>
        </div>
    </div>
    <div id="section_middle" class="product">
        <h5>Product</h5> 
        <% if(data.length){
            for(var i = 0; i < data.length; i++) {%>  
                <div class="image_Product">
                        <img src="/uploads/<%= data[i].gambar_produk %>" alt="<%= data[i].gambar_produk %>" style="width: 130px; height: auto;">
                        <div class="hover-box">
                            <%= data[i].resep %>
                        </div>
                        <div class="image-info">
                        <h3 class="title"><%= data[i].nama_produk %></h3>
                        <p class="comment"><%= data[i].deskripsi %></p>
                        </div>
                </div>
            <% }
            
        }else{ %>
            <tr>
                <td colspan="6">
                    <div class="alert alert-danger" role="alert">
                        Data tidak ditemukan!
                    </div>
                </td>
            </tr>
        <% } %>    
           
        </div>
    
        
    <div id="section_quarter_bottom" class="about">
        <div class="container">
            <h1>About Us</h1>
            <p>Pada awalnya, Rasa Jadoel merupakan usaha makanan <br>
                yang dibuat karena hobi semata, namun semakin bertambah<br>
                usia pada akhirnya usaha ini dipersiapkan untuk menjadi penghasilan<br>
                di masa tua, makanan yang disediakan pun merupakan makanan yang tidak <br>
                rumit karena berfokus kepada masakan dahulu dan tidak menyediakan makanan <br>
                yang bisa dikonsumsi dalam situasi apapun.</p>
            <img src="/images/104282356_3188680147860832_7682586695568529317_n.jpg" alt="About Us" class="about-img">
        </div>
    </div>  
    <div id="section_bottom" class="contact">
        <h1>Contact Us</h1>
        <div id="profil_insta">
        <h3>Profil Instagram</h3>
        <img src="/images/insagram.png" alt="Profil Instagram" id="insta">
        </div>
        <h2>Jika Ingin Mencoba, Silahkan Pre-Order:</h2>
        <div id="order">
            <img src="/images/instagram-icon_1057-2227.avif" class="icon">
            <div class="num">
                <a href="https://www.instagram.com/rasa.jadoel/?igsh=cTdidjlxN3h2c2I1">
                @rasa.jadoel
                </a>
            </div>
            <img src="/images/4cb2d886f40533599248a9673ea8e245.jpg" class="icon">
            <div class="num">
                081933871076
            </div>
        </div>
        <footer>
            <div class="container">
                <p>&copy; 2024 Rasa Jadoel. All rights reserved.</p>
            </div>
        </footer>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/fuction.js"></script>
</body>
</html>